<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Project are here.</title>
</head>
<body>
{{>header}}

<p>{{screamIt 'All the projects are here'}}.</p>

{{>footer}}
</body>
</html>
